<ion-content>

    <app-logo></app-logo>

    <h3>User Settings</h3>
    <ion-form>
        <ion-item>
            <ion-label position="floating">Display Name</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Timezone</ion-label>
            <ion-select>
                <ion-option>Teste</ion-option>
            </ion-select>
        </ion-item>
    </ion-form>

    <ion-list>
        <ion-label>
            Following Teams
        </ion-label>
        <ion-item *ngFor="let team in teams">
            <ion-label>{{ team.shortName }}</ion-label>
            <ion-button (click)="unfollowTeam(team.id)" color="danger">Unfollow</ion-button>
        </ion-item>
    </ion-list>

    <app-footer></app-footer>

</ion-content>
