
<ion-content>
    <app-logo></app-logo>
	<div *ngIf="show_login_form; else registerForm">
		<ion-grid>
			<ion-row>
				<ion-col size="10" offset="1">
					<app-login-form (loginEvent)="loginUser($event)"></app-login-form>					
				</ion-col>
			</ion-row>
			<ion-row>
                <ion-col>
                    <div class="ion-text-center ion-padding-top ion-padding-bottom">
                        <ion-label class="smaller-text">Not yet registered ? 
                            <span (click)="showRegisterForm()" class="button-link light-green-text">Register here</span> 
                        </ion-label>
                    </div>                    
                </ion-col>
			</ion-row>
		</ion-grid>

	</div>
	<ng-template #registerForm>
		<ion-grid>
			<ion-row>
				<ion-col size="10" offset="1">
					<app-register-form (registerEvent)="registerUser($event)"></app-register-form>				
				</ion-col>
			</ion-row>
			<ion-row>
                <ion-col size="12">
                    <div class="ion-text-center ion-padding-top ion-padding-bottom">
                        <ion-label class="smaller-text">Already registered ? 
                            <span (click)="showLoginForm()" class="button-link dark-green-text">Login here</span> 
                        </ion-label>
                    </div>                    
                </ion-col>
			</ion-row>
		</ion-grid>
	</ng-template>


	<div *ngIf="local_storage_data && show_login_form" class="offline-matches ion-padding-top">
		<ion-label class="smaller-text-2">
			Check the latest request you made
		</ion-label>
        <ion-label>
            <ion-button fill="clear" href="/matches-offline">
                <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </ion-button>
        </ion-label>
        <ion-label>
            without login
        </ion-label>
	</div>

</ion-content>

