<app-logo></app-logo>

<ion-content>

	<div *ngIf="show_login_form; else registerForm">
		<ion-grid>
			<ion-row>
				<ion-col size="10" offset="1">
					<app-login-form (loginEvent)="loginUser($event)"></app-login-form>					
				</ion-col>
			</ion-row>
			<ion-row>
				<div class="full-center">
					<ion-label>Not yet registered ? <ion-button (click)="showRegisterForm()">Register here</ion-button> </ion-label>
				</div>
			</ion-row>
		</ion-grid>

	</div>
	<ng-template #registerForm>
		<ion-grid>
			<ion-row>
				<ion-col size="10" offset="1">
					<app-register-form (registerEvent)="registerUser($event)"></app-register-form>				
				</ion-col>
			</ion-row>
			<ion-row>
				<div class="full-center">
					<ion-label>Already registered ? <ion-button (click)="showLoginForm()">Login here</ion-button> </ion-label>
				</div>
			</ion-row>
		</ion-grid>
	</ng-template>

	<ion-button href='/matches'>Matches</ion-button>
	<ion-button href="/teams">Teams</ion-button>
</ion-content>

