<ion-card>
	<ion-card-content>
		<ion-grid>
			<ion-row>
				<ion-col>
					<div class="home-team">
						<ion-label>{{ match.home_team }}</ion-label>
					</div>
				</ion-col>
				<ion-col>
					<div class="middle">
						<ion-label>{{ match.date }}</ion-label>	
						<ion-label>{{ match.competition }}</ion-label>
					</div>
				</ion-col>
				<ion-col>
					<div class="away-team">
						<ion-label>{{ match.away_team }}</ion-label>
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card-content>
</ion-card>
