
.bigger-text {
    font-size: 1.1rem;
}

.home-team, .away-team, .middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-team, .away-team {
	font-weight: bold;
}

.finished {
    color: rgb(255, 55, 29);
}

.to-start {
    color: var(--ion-color-darker-green);
}