

<ion-tabs class="my-footer">
    <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="handleNavigation('teams')">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Add team</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="handleNavigation('matches')">
            <ion-icon name="map"></ion-icon>
            <ion-label>Matches</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="handleNavigation('settings')">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
