
<ion-content>

	<ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
		<ion-infinite-scroll-content
		  loadingSpinner="bubbles"
		  loadingText="Loading more data...">
		</ion-infinite-scroll-content>
	  </ion-infinite-scroll>
	  
	<ion-grid>
		<ion-row>
			<ion-col size="10" offset="1">
				<div *ngFor="let match of matches">
					<app-match-card [match]="match"></app-match-card>
				</div>				
			</ion-col>
		</ion-row>
	</ion-grid>


	<ion-tabs>
		<ion-tab-bar slot="bottom">
		  <ion-tab-button tab="schedule">
			<ion-icon name="calendar"></ion-icon>
			<ion-label>Schedule</ion-label>
			<ion-badge>6</ion-badge>
		  </ion-tab-button>
	  
		  <ion-tab-button tab="speakers">
			<ion-icon name="person-circle"></ion-icon>
			<ion-label>Speakers</ion-label>
		  </ion-tab-button>
	  
		  <ion-tab-button tab="map">
			<ion-icon name="map"></ion-icon>
			<ion-label>Map</ion-label>
		  </ion-tab-button>
	  
		  <ion-tab-button tab="about">
			<ion-icon name="information-circle"></ion-icon>
			<ion-label>About</ion-label>
		  </ion-tab-button>
		</ion-tab-bar>
	  </ion-tabs>

</ion-content>
