
<ion-content>

    <app-logo></app-logo>

	<ion-grid>
		<ion-row>
			<ion-col>
				<ion-item>
					<ion-label> Competition</ion-label>
					<ion-select (ionChange)="getTeamsForCompetition($event.target.value)">
						<ion-select-option *ngFor="let competition of competitions" [value]="competition.league_name">
							{{ competition.league_name }}
						</ion-select-option>
					</ion-select>
				</ion-item>				
			</ion-col>
		</ion-row>
	</ion-grid>


    <div class="teams-list">
        <ion-list>
            <div *ngFor="let team of teams">
                <ion-label>{{ team.name }}</ion-label>
                <ion-button *ngIf="!user_teams.includes(team.id); else unfollow" (click)="addNewTeam(team.id, team.short_name)" size="small">Follow</ion-button>
                <ng-template #unfollow>
                    <ion-button (click)="removeTeam(team.id, team.short_name)" size="small" color="danger">Unfollow</ion-button>
                </ng-template>
            </div>
        </ion-list>        
    </div>

    <app-footer></app-footer>
</ion-content>
